html {
    height: 100%;
}

body {
    background-color: rgb(19, 18, 18);
}

h1 {
    text-shadow: 4px 4px green;
    background-color: rgba(6, 128, 6, 0.171);
    border-left: 6px solid green;
    
    padding-bottom: 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#bod {
    background-image: url(/greenimgfordummy.jpg);
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    height: 700px;
    width: 80%;
    
    margin: 0 auto;
    overflow-y: auto;
   
}

#main {
    margin-left: 8%;
    margin-right: 8%;
    padding-top: 10px;
    padding-bottom: 20px;
    color: white;
    text-align: center;
    
    
   
}

#inp { color: wheat;
   border-radius: 44px;
   background-color: rgba(0, 0, 0, 0.425);
   border: 2px dashed green;
   padding-left: 14px;
   font-weight: bolder;
}

#btn {
    color: wheat;
    background-color: green;
    border: none;
    padding: 8px;
    font-weight: bolder;

}

#show { padding: 4px;
    background-color: rgba(0, 0, 0, 0.63);
    color: white; border: 2px solid green;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#show ::first-letter {
    font-size: large;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#btn:hover {
    background-color: rgb(255, 5, 5);
    transition: .7s;
}